@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
html, body {
    margin: 0;
    padding: 0em;
    height: 100%;
    background-image: url(../../../assets/background/start.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-blend-mode: overlay;
    background-color: #2e3136;
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: hidden;

}

img{
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-left: 140px;
}

h1{
  width: 100%;
  text-align: center;
  margin-top: 100px;

}
h2{
  width: 100%;
  text-align: center;
}
