@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html, body {
    margin: 0;
    padding: 0em;
    height: 100%;
    background-color: #2b063d;
    background: linear-gradient(45deg,#2b063d , #591878);
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: hidden;

}
h1{
  text-align: center;
}
.chartContainer{

  width: 280px;
  height: 280px;
  padding-left: 200px;
  padding-top: 80px;
  position: absolute;

}
#scoreTextContainer{
  padding-top: 145px;
  width:280px;
  height: 280px;
  padding-left: 200px;
  position: absolute;

}
#scoreContainer{
  text-align: center;

}
#teamScoreChart{
  width: 100;
  height: 100;
}
#map{
  font-size: 15px;
  height:0px;
}
#teamScore{
  font-size: 40px;
  height: 0px;


}
#roundsLeft{
  font-size: 15px;

}
.moneyContainer{
  width: 100%;
  margin-top: 400px;
  position: absolute;

}

#lossmoney{
  font-size: 200%;

}
#winmoney{
  font-size: 200%;
}

.onLoss{
  width: 240px;
  height: 120px;
  float: left;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  background: #591878;
   overflow: hidden;
   margin-left: 40px;
}
.onWin{
  width: 240px;
  height: 120px;
  float: right;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  background: #591878;
   overflow: hidden;
   margin-right: 40px;
}
.bonusContainer{
  width:200px;
  height: 80px;
  margin-left: 240px;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  background: #591878;
   overflow: hidden;
   margin-top: 560px;
   position: absolute;
}

.statsContainer{
  width:600px;
  height: 80px;
  margin-left: 40px;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  -moz-box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  box-shadow: inset 0px 0px 10px 1px rgba(41,0,41,1);
  background: #591878;
   overflow: hidden;
   margin-top: 680px;
   position: absolute;
}
