@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html, body {
    margin: 0;
    padding: 0em;
    height: 100%;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: hidden;
    z-index: -9999;
}


.loss-color{
  color: #ffa000;
}

.win-color{
  color: #00e600;
}

/*Största*/
h1{
  text-align: center;
  font-size: 340%;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/*Mellan*/
h2{
  margin: 0;
  padding: 0;
  font-size: 200%;
  font-weight: 600;
}
/*Liten*/
h3{
  text-align: center;
  font-size: 140%;
  margin: 0;
  padding: 0;
}

/*Minsta*/
p{
  font-size: 80%;
  margin: 0;
  padding: 0;
}

/*-------------------Top-------------------*/

.ContainerTop{
  border: #fff 1px solid;
  width:100%;
  height:8%;
  padding: 0;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  float:left;
}

.playerNameContainer, .scoreTextContainer, .mapNameContainer{
  border: #fff 1px solid;
  float:left;
  width:30%;
  height: auto;
  margin: auto;

}

/*-------------------Playerstats-------------------*/


/*-------------------Weaponstats-------------------*/



/*-------------------Chart-------------------*/



/*-------------------Adds-------------------*/

.chartContainer{
  width: 100%;
  height: 30%;
  text-align: center;
  overflow: hidden;
}
.roundScoreContainer{
  width: 100%;
  height: 100%;

}


.scoreContainer{
    width: 100%;
    height: 15%;
    margin-top: 10%;
    position: absolute;
    text-align: center;
}


.scoreTextContainer{
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
}

.moneyContainer{
  border: #fff 1px solid;
  padding-top: 5%;
  width: 100%;
  height: 16%;
}

.onLoss,.onWin {
  border: #fff 1px solid;
  width: 42%;
  height: 100%;
  float: left;
  text-align: center;
   overflow: hidden;
   margin-left: 7.5%;
   padding-top: 1%;

}


.statsContainerBig{
  padding-top: 5%;
  border: #fff 1px solid;
  margin-top: 30%;
  width:100%;
  text-align: center;
   overflow: hidden;

}

.statsContainer{
  border: #fff 1px solid;
  margin-top: 5%;
    margin-left: 5%;
  margin-right: 5%;
  display: table;
  table-layout: fixed;
  width:90%;
  height:8%;
  margin-left: auto;
  margin-right: auto;

    text-align: center;


}

.statsContainerMini{
  border: #fff 1px solid;
  margin-left: 5%;
  margin-right: 5%;
  display: table-cell;
  margin: 0;
  padding-top:1%;

      text-align: center;

}




.Div1{
width:100%;
margin:0 auto;
overflow:hidden;
float:left;
border: #fff 1px solid;
}


.Div2{
border: #fff 1px solid;
width:100%;
overflow:hidden;
float:left;
margin-right: auto;
margin-left: auto;
}

.Div4, .Div6{

margin-top: 3%;
float:left;
width:30%;
}

.Div5{

float:left;
width:40%;
}

.Div7{
border: #fff 1px solid;
text-align: center;
width:80%;
margin:1% auto;
}


.Div3{
width:100%;
clear:both;
border: #fff 1px solid;
}

.Div8
{
border: #fff 1px solid;
width:29%;
float:left;

}

.Div9
{
border: #fff 1px solid;
width:69%;
float:left;

}


.topleft{
  text-align: left;
  float: left;
  z-index: 999´;
  position: absolute;
  width: 10%;
  margin-left:0;
  margin-top: 0;
  padding: 0;
  border: #fff 1px solid;
}




.weaponContainer{
  border: #fff 1px solid;
  margin-top: 2.5%;
  display: table;
  table-layout: fixed;
  width:100%;
  height: 69px;
   float: left;
   position: relative;
}

.weaponContainerKnife, .weaponContainerNades, .weaponContainerSecondary{

  width: 25%;
  display: table-cell;
  margin: 0;
  text-align: left;
   float: left; 


}

.weaponContainerPrimary{

  width: 25%;
  display: table-cell;
  margin: 0;
  text-align: left;
   float: left;

}

 .weaponContainerKnife img{
  border: #fff 1px solid;
  padding-top: 15%;
 height: 34.5px;
 }

.weaponContainerSecondary img{
  border: #fff 1px solid;
    padding-top: 15%;
  height: 34.5px;
}

.weaponContainerPrimary img{
  border: #fff 1px solid;
    padding-top: 10%;
   height: 34.5px;
}


.weaponContainerNades img{
  border: #fff 1px solid;
    padding-top: 10%;
     width: 32px;
 height: 34.5px;
}

/*.weaponContainerWeapon{
  border: #fff 1px solid;
  width: 100%;
  height: 100%;
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: left;
   float: left;
}*/