@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html, body {
    margin: 0;
    padding: 0em;
    height: 100%;
    background-color: #2b063d;
    background: linear-gradient(45deg,#2b063d , #591878);
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow: hidden;

}

.picture{
  margin-left: 40px;
  margin-top: 40px;
  width: 180px;
  position: absolute;
}
h1{
  margin-left: 240px;
  margin-top: 80px;
  position: absolute;
}
#steamid{
  margin-left: 240px;
  margin-top: 140px;
  position: absolute;
}
#steamidnr{
  margin-left: 240px;
  margin-top:160px;
  position: absolute;
}
.trophy{
  width: 40px;
  height: 40px;
  position: absolute;
}
.result{
  text-align: center;
  position: absolute;
}
.trophytop{
  margin-top: 280px;
}
.resulttop{
  margin-top: 290px;
}
.trophybottom{
  margin-top: 360px;
}
.resultbottom{
  margin-top: 370px;
}
.trophyleft{
  margin-left: 120px;
}
.resultleft{
  margin-left: 180px;
}
.trophymid{
  margin-left: 280px;
}
.resultmid{
  margin-left: 340px;
}
.trophyright{
  margin-left: 440px;
}
.resultright{
  margin-left: 500px;
}
table{
  text-align: center;
  width:600px;

  margin-left: 40px;
  margin-right: 40px;

  background-color: #591878;
  overflow-y: scroll;

}

.matchesContainer{
  margin-top: 440px;
  width: 100%;
  height: 360px;
  overflow: auto;

}
.match{
  width: 100px;
}
.stats{

}
